/* * {
    background: black;
} */

body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    /* color: whitesmoke; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.output {
    display: flex;
    grid-column: 1 / 5;
    height: stretch;
    background-color: rgb(87, 175, 125, 0.5);
}

button {
    text-align: center;
    align-content: center;
    font-weight: bold;
    /* color: whitesmoke; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
}

.number:hover {
    background-color: teal;
    font-size: 30px;
    text-emphasis-color: black;
}

.operation:hover {
    background-color: rgba(233, 109, 109, 0.5);
    font-size: 30px;
    text-emphasis-color: black;
}

.delete:hover {
    background-color: rgba(233, 109, 109, 0.5);
    font-size: 30px;
    text-emphasis-color: black;
}

.clear:hover {
    background-color: rgba(233, 109, 109, 0.5);
    font-size: 30px;
    text-emphasis-color: black;
}

.container {
    display: grid;
    /* grid-gap: 3px; */
    border: 5px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(6, 80px);
    align-content: center;
    text-align: center;
    justify-content: center;
    grid-auto-rows: auto;
    grid: 100vh;
    margin: 150px;
}

.delete {
    grid-column: 1 / 3;
}

.clear {
    grid-column: 3 / 5;
}