* {
    background: black;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

dt {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

div {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(7, auto);
    justify-content: space-around;
    grid-auto-rows: auto;
    grid: 100vh;
}